body{
    background-color: #007f7f;
}

#container{
    background: #fff;
    width: 800px;
    margin: 10x auto;
    padding: 10px;
}
h1{
    position: ;
}
p{
    width: 300px;
}

.relative{
    border: 1px solid red;
    position: relative;
    /* top, right, bottom, left */

}